DATABASE_URL="postgresql://user:password@host:5432/cocoon_gym?sslmode=require"
AUTH_SECRET="generate-with-openssl-rand-base64-32"
AUTH_URL="http://localhost:3000"
NEXTAUTH_URL="http://localhost:3000"
